[Unit]
Description=Statime linux
Documentation=https://github.com/pendulum-project/statime
After=network-online.target
Wants=network-online.target
Conflicts=

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/statime
Environment="RUST_LOG=info"
RuntimeDirectory=statime
User=statime
Group=statime
AmbientCapabilities=CAP_SYS_TIME CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
